<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <input id="foo" value="https://github.com/zenorocha/clipboard.js.git" />


    <button class="btn" data-clipboard-target="#foo">
        click
    </button>

    <script>
        new ClipboardJS('.btn');
    </script>

    <script src="/clipboard/dist/clipboard.min.js"></script>

</body>



</html>